<div>
  <input [(ngModel)]="login" #ctrl="ngModel" placeholder="Login">
  <input type="password" [(ngModel)]="password" #ctrl="ngModel" placeholder="Enter Password">
  <button (click)="raiseQuery()">Login</button>

  <div *ngIf="state?.status === Status.Ready">
    <div>
      {{state?.value?.token}}
    </div>
    <div>
      {{state?.value?.firstName}}
    </div>
  </div>

  <div *ngIf="state?.status === Status.Error">
    {{state?.value?.statusText}}
  </div>
  
  <div *ngIf="state?.status === Status.Loading">
     Loading
  </div>
</div>
